<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
    <c-container>
      <c-row class="justify-content-center">
        <c-col md="8">
          <c-card-group>
            <c-card class="p-4">
              <c-card-body>
                <app-spinner></app-spinner>
                <form #customStylesForm="ngForm"
                (ngSubmit)="resetAction()"
                cForm
                class="row g-3 needs-validation">
                  <h1>{{"Reset Password" | translate}}</h1>
                  <p class="text-medium-emphasis">{{"Reset your account password" | translate}}</p>
                  <c-input-group class="mb-3">
                    <span cInputGroupText>
                        <svg cIcon name="cilLockLocked"></svg>
                      </span>
                      <input
                        name="newpassword"
                        autoComplete="current-password"
                        cFormControl
                        placeholder="NEW PASSWORD"
                        type="password"
                        [(ngModel)]="newPassword"
                        id="newpassword" required minlength="10" maxlength="20" [valid]="isPassworsCriteriaGood()"/>
                      <c-form-feedback [valid]="false">{{"Password must contain special characters and numbers. Password length should be between 10 to 20 characters"}}!</c-form-feedback>
                  </c-input-group>
                  <c-input-group class="mb-3">
                    <span cInputGroupText>
                      <svg cIcon name="cilLockLocked"></svg>
                    </span>
                    <input
                      name="cnfpassword"
                      cFormControl
                      placeholder="CONFIRM NEW PASSWORD"
                      type="password"
                      [(ngModel)]="confirmPassword"
                      id="cnfpassword" required [valid]="doesPasswordMatch()"/>
                      <c-form-feedback *ngIf="!doesPasswordMatch()" [valid]="false">{{"Passwords do not match"}}!</c-form-feedback>
                  </c-input-group>
                  <c-row>
                    <c-col xs="2"></c-col>
                    <c-col xs="8">
                      <app-recaptcha></app-recaptcha>
                    </c-col>
                    <c-col xs="2"></c-col>
                  </c-row>
                  <c-row>
                    <c-col xs="2"></c-col>
                    <c-col class="text-right" xs="8">
                        <button [disabled]="!(isPassworsCriteriaGood() && doesPasswordMatch())" cButton class="px-4 fullWidth" color="danger" (click)="resetAction()">
                            {{"Reset" | translate}}
                          </button>
                    </c-col>
                    <c-col xs="2"></c-col>
                  </c-row>
                </form>
              </c-card-body>
            </c-card>
            <c-card class="text-white bg-primary py-5"> <!-- [ngStyle]="{'width.%': 44}" -->
              <c-card-body class="text-center">
                <div>
                  <h2>{{tenantName}}</h2>
                  <p>
                    {{tenantTag}}
                  </p>
                  <img style="width: -webkit-fill-available;" [src]="tenantLogo" alt="Tenant Logo"/>
                  <!-- <button [active]="true" cButton class="mt-3" color="primary" routerLink="/register">
                    Register Now!
                  </button> -->
                </div>
              </c-card-body>
            </c-card>
          </c-card-group>
        </c-col>
      </c-row>
    </c-container>
  </div>
  