<c-card class="mb-4">
    <c-card-header>
        <strong>{{"Product Images" | translate}}</strong>
        <button style="float: right;" cButton class="me-1" variant="outline" size="sm" (click)="backAction()"> {{"Back" |
            translate}}</button>
        <button style="float: right;" cButton class="me-1" variant="outline" size="sm" color="success"> {{"Update Images" |
            translate}}</button>
    </c-card-header>
    <c-card-body class="mat-elevation-z8" style="overflow: auto;">
    
    </c-card-body>
</c-card>
