<div class="mat-elevation-z8" style="overflow: auto;">
    <table mat-table [dataSource]="tasks">

        <!-- type Column -->
        <ng-container matColumnDef="TaskType">
            <th mat-header-cell *matHeaderCellDef> {{"Type" | translate}} </th>
            <td mat-cell *matCellDef="let element">
                <!-- TODO: on click open dialoag with detailed summary -->
                <img *ngIf="element.tasktype == 'TODO'" src="../../../assets/img/todo.png" style="height: 1rem;" class="zoom" matTooltip="{{'TODO' |translate}}"/>
                <img *ngIf="element.tasktype == 'APPROVAL'" src="../../../assets/img/approval.png" style="height: 1rem;" matTooltip="{{'APPROVAL' |translate}}"/>
            </td>
        </ng-container>

        <!-- title Column -->
        <ng-container matColumnDef="Title">
            <th mat-header-cell *matHeaderCellDef> {{"Title" | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>

        <!-- desc Column -->
        <ng-container matColumnDef="Description">
            <th mat-header-cell *matHeaderCellDef> {{"Description" | translate}} </th>
            <td mat-cell *matCellDef="let element">
                {{element.description}}
            </td>
        </ng-container>

        <!-- status Column -->
        <!-- <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef> {{"Status" | translate}} </th>
            <td mat-cell *matCellDef="let element"> 
              <mat-chip [ngClass]="element.status"> <small>{{element.status}}</small> </mat-chip>
            </td>
        </ng-container> -->

        <!-- startdate Column -->
        <ng-container matColumnDef="StartDate">
            <th mat-header-cell *matHeaderCellDef> {{"Start Date" | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.startdate | date:'dd/MM/yyyy'}}</td>
        </ng-container>

        <!-- enddate Column -->
        <ng-container matColumnDef="DueDate">
            <th mat-header-cell *matHeaderCellDef> {{"Due Date" | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{getDueDate(element.enddate)}} </td>
        </ng-container>

        <!-- createdby Column -->
        <ng-container matColumnDef="CreatedBy">
            <th mat-header-cell *matHeaderCellDef> {{"Created By" | translate}} </th>
            <td mat-cell *matCellDef="let element"> 
                {{element.owner.fname}}
                <!-- <button mat-icon-button color="primary" matTooltip= "View Owner">
                    <mat-icon>supervised_user_circle</mat-icon>
                </button> -->
            </td>
        </ng-container>

        <!-- assignees Column -->
        <ng-container matColumnDef="Assignees">
            <th mat-header-cell *matHeaderCellDef> {{"Assignees" | translate}} </th>
            <td mat-cell *matCellDef="let element"> 
                <button mat-icon-button color="primary" matTooltip= "View Assignees">
                    <mat-icon>supervised_user_circle</mat-icon>
                </button>
            </td>
        </ng-container>

        <!-- actions -->
        <ng-container matColumnDef="Actions">
            <th mat-header-cell *matHeaderCellDef> {{"Actions" | translate}} </th>
            <td mat-cell *matCellDef="let element">
                <button *ngIf="element.tasktype == 'TODO'" mat-icon-button color="primary" matTooltip= "Complete">
                    <mat-icon style="color: #429900;">task_alt</mat-icon>
                </button>
                <button *ngIf="element.tasktype == 'APPROVAL'" mat-icon-button color="primary" matTooltip= "Approve">
                    <mat-icon style="color: #429900;">fact_check</mat-icon>
                </button>
                <!-- <button mat-icon-button color="primary" matTooltip= "View Assignees">
                    <mat-icon color="warn">delete</mat-icon>
                </button> -->
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="taskColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: taskColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[25, 50, 100]" (page)="handlePageEvent($event)" [length]="totalPages"
        [pageSize]="pageSize" showFirstLastButtons aria-label="Select employees">
    </mat-paginator>
</div>