.DUE{
    background-color: darkred !important;
}

.PENDING{
    background-color: #cd933f !important;
}

.NOT_STARTED{
    background-color:  cornflowerblue !important;
}

.EXPIRED{
    background-color: cadetblue !important;
}

.EXPIRING{
    background-color: aquamarine !important;
}

.COMPLETED{
    background-color: greenyellow !important;
}

