<app-spinner></app-spinner>
<c-row ngPreserveWhitespaces>
    <c-col xs="12">
        <c-card class="mb-4">
            <c-card-header>
                <strong>{{"Basic Settings" | translate}}</strong>
            </c-card-header>
            <c-card-body>
                <mat-tab-group>
                    <mat-tab label="{{'Tenant Information' | translate}}">
                        <ng-container *ngTemplateOutlet="tinfo"></ng-container>
                    </mat-tab>
                    <mat-tab label="{{'Tenant Security' | translate}}">
                        <ng-container *ngTemplateOutlet="tsecurity"></ng-container>
                    </mat-tab>
                </mat-tab-group>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>

<c-row ngPreserveWhitespaces>
    <c-col xs="12">
        <c-card class="mb-4">
            <c-card-header>
                <strong>{{"Advanced Settings" | translate}}</strong>
                <small><b>(Changing configuration will modify site behaviour)</b></small>
            </c-card-header>
            <c-card-body>
                <mat-tab-group>
                    <mat-tab label="{{'Email Configuration' | translate}}">
                        <ng-container *ngTemplateOutlet="emailConfig"></ng-container>
                    </mat-tab>
                    <mat-tab label="{{'Storage Configuration' | translate}}">
                        <ng-container *ngTemplateOutlet="storageConfig"></ng-container>
                    </mat-tab>
                    <mat-tab label="{{'SMS Configuration' | translate}}">
                        <ng-container *ngTemplateOutlet="smsConfig"></ng-container>
                    </mat-tab>
                </mat-tab-group>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>

<ng-template #tinfo>
    <c-carousel [interval]="0">
        <c-carousel-inner>
            <c-carousel-item>
                <img [src]="getTenantLogo()" alt="Logo" class="d-block w-100" loading="lazy" />
            </c-carousel-item>
        </c-carousel-inner>
    </c-carousel>
    <div class="mb-3">
        <label cLabel for="formFile">{{"Upload New Logo" | translate}}</label>
        <input #file cFormControl id="formFile" accept="image/*" type="file" (change)="onFileSelected($event)" />
        <!-- <button #upload (click)="file.click()">Upload file</button> -->
    </div>
    <app-tenant-info></app-tenant-info>
</ng-template>

<ng-template #tsecurity>
 TODO
</ng-template>

<ng-template #emailConfig>
    <app-spinner [show]="emailSpinner"></app-spinner>
    <c-row *ngFor="let field of emailConfigKeys; let i = index">
        <c-col xs="12">
            <mat-form-field style="width: 100%;">
                <mat-label>{{field | translate}}</mat-label>
                <input matInput [name]="field" [placeholder]="field" [(ngModel)]="emailConfigFields[i]" required>
            </mat-form-field>
        </c-col>
    </c-row>
    <c-row>
        <c-col xs="6"></c-col>
        <c-col xs="6">
            <button style="width: 100%;" cButton class="me-1" variant="outline" size="sm" color="warning"
                (click)="onEmailConfigSave()"> {{"SAVE" |
                translate}}</button>
        </c-col>
    </c-row>
</ng-template>

<ng-template #storageConfig>
    <app-spinner [show]="storageSpinner"></app-spinner>
    <c-row *ngFor="let field of storageGcpConfigKeys; let i = index">
        <c-col xs="12">
            <mat-form-field style="width: 100%;">
                <mat-label>{{field | translate}}</mat-label>
                <input matInput [name]="field" [placeholder]="field" [(ngModel)]="gcpConfigFields[i]" required>
            </mat-form-field>
        </c-col>
    </c-row>
    <c-row>
        <c-col xs="6"></c-col>
        <c-col xs="6">
            <button style="width: 100%;" cButton class="me-1" variant="outline" size="sm" color="warning"
                (click)="onGcsConfigSave()"> {{"SAVE" |
                translate}}</button>
        </c-col>
    </c-row>
</ng-template>

<ng-template #smsConfig>
    <app-spinner [show]="smsSpinner"></app-spinner>
    <c-row *ngFor="let field of smsConfigKeys; let i = index">
        <c-col xs="12">
            <mat-form-field style="width: 100%;">
                <mat-label>{{field | translate}}</mat-label>
                <input matInput [name]="field" [placeholder]="field" [(ngModel)]="smsConfigFields[i]" required>
            </mat-form-field>
        </c-col>
    </c-row>
    <c-row>
        <c-col xs="6"></c-col>
        <c-col xs="6">
            <button style="width: 100%;" cButton class="me-1" variant="outline" size="sm" color="warning"
                (click)="onSmsConfigSave()"> {{"SAVE" |
                translate}}</button>
        </c-col>
    </c-row>
</ng-template>