<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
    <c-container>
      <c-row class="justify-content-center">
        <c-col md="8">
          <c-card-group>
            <c-card class="p-4">
              <c-card-body>
                <app-spinner></app-spinner>
                <form cForm>
                  <h1>{{"LOGIN" | translate}}</h1>
                  <p class="text-medium-emphasis">{{"Sign In to your account" | translate}}</p>
                  <c-input-group class="mb-3">
                    <span cInputGroupText>
                      <svg cIcon name="cilUser"></svg>
                    </span>
                    <input autoComplete="username" cFormControl name="emailid" placeholder="{{'Email Id' | translate}}" [(ngModel)]="username"/>
                  </c-input-group>
                  <c-input-group class="mb-4">
                    <span cInputGroupText>
                      <svg cIcon name="cilLockLocked"></svg>
                    </span>
                    <input
                      name="password"
                      autoComplete="current-password"
                      cFormControl
                      placeholder="{{'Password' | translate}}"
                      type="password"
                      [(ngModel)]="password"/>
                  </c-input-group>
                  <c-row>
                    <c-col xs="6">
                      <button cButton class="px-4" color="primary" (click)="loginAction()">
                        {{"LOGIN" | translate}}
                      </button>
                    </c-col>
                    <c-col class="text-right" xs="6">
                      <button cButton class="px-0" color="link" (click)="toggleFPModal()">
                       {{"Forgot password" | translate}}?
                      </button>
                    <ng-container *ngTemplateOutlet="forgotPassword"></ng-container>
                    </c-col>
                  </c-row>
                  <br/>
                  <c-row>
                    <c-col xs="2"></c-col>
                    <c-col xs="4">
                      <asl-google-signin-button type='standard' size='medium'></asl-google-signin-button>
                    </c-col>
                    <c-col xs="2"></c-col>
                  </c-row>
                </form>
              </c-card-body>
            </c-card>
            <c-card class="text-white bg-primary py-5"> <!-- [ngStyle]="{'width.%': 44}" -->
              <c-card-body class="text-center">
                <div>
                  <h2>{{tenantName}}</h2>
                  <p>
                    {{tenantTag}}
                  </p>
                  <img style="width: -webkit-fill-available;" [src]="tenantLogo" alt="Tenant Logo"/>
                </div>
              </c-card-body>
            </c-card>
          </c-card-group>
        </c-col>
      </c-row>
    </c-container>
  </div>

  <ng-template #forgotPassword>
    <c-modal id="fpModal" [visible]="showFPModal" (visibleChange)="handleFPModal($event)">
      <c-modal-header>
        <h2 cModalTitle>{{ "PASSWORD RESET" | translate | uppercase}}</h2>
        <button (click)="toggleFPModal()" cButtonClose></button>
      </c-modal-header>
      <c-modal-body>
        <input autoComplete="username" cFormControl name="emailid" placeholder="Username/EmailId" [(ngModel)]="username"/>
      </c-modal-body>
      <c-modal-footer>
        <button (click)="toggleFPModal()" cButton color="secondary">
          {{"CLOSE" | translate}}
        </button>
        <button (click)="initiateReset()" cButton color="warning">
          {{"SEND RESET LINK" | translate}}
        </button>
      </c-modal-footer>
    </c-modal>
</ng-template>
  